body {
    margin: 0;
    background: #111;
    color: white;
    font-family: Arial;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LEFT & RIGHT PANELS */
.left-panel, .right-panel {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.time-btn, .weather-btn, #start-btn {
    padding: 12px 20px;
    background: rgba(255,255,255,0.2);
    border: 1px solid white;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

/* CENTER TIMER */
.timer-section {
    text-align: center;
}

#timer-display {
    font-size: 38px;
    margin-top: -150px;
}

.progress-ring circle {
    fill: transparent;
    stroke-width: 10;
}

.ring-bg {
    stroke: #444;
}

.ring-progress {
    stroke: #00eaff;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke-dasharray: 565;
    stroke-dashoffset: 565;
    transition: stroke-dashoffset 1s linear;
}

#start-btn {
    margin-top: 20px;
}

/* VIDEO BACKGROUND */
#relax-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
